# New Section

In [10]:
angka = 1
print(f"isi variabel angka adalah {angka}")
if angka<10:
  print(f"{angka} lebih kecil dari 10")
  print("ini masih dibawah if")

isi variabel angka adalah 1
1 lebih kecil dari 10

In [9]:
angka>10

True

In [ ]:
ngka = 1
print(f"isi variabel angka adalah {angka}")
if angka<10:
  print(f"{angka} lebih kecil dari 10")
else:
  print(f"{angka}")

In [ ]:
angka = 1
print(f"isi variabel angka adalah {angka}")
if angka<10:
  print(f"{angka} lebih kecil dari 10")
  print("ini masih dibawah if")

In [ ]:
# studi kasus
buahbuahan = ["pepaya", "mangga", "pisang", "jambu", "jeruk"]
if len(buahbuahan) > 3:
  print("Mapir ke toko buah, cari jeruk")
  if 'jeruk' in buahbuahan:
    print("beli ")

ini dalah lop

In [15]:
# while
ulang = 5
while ulang > 0:
  print("nama saya afif")
  ulang-= 1

nama saya afif
nama saya afif
nama saya afif
nama saya afif
nama saya afif

In [14]:
# tabel perkalian 7

In [21]:
# kalkulator 5 input
jml_input = 5
hasil = 1
while jml_input > 0:
  angka = input("masukkan angka:")
  hasil *= eval(angka)
  jml_input -= 1
print(hasil)

masukkan angka:1
masukkan angka:2
masukkan angka:3
masukkan angka:4
masukkan angka:5
120

In [ ]:
# menyimpan pesanan sampai cukup
jml_input = ["mie ayam", "bakso" "mie rebus" "mie goreng"]
while jml_input > cukup:
  menu = input("masukkan menu:")
  hasil = input ()

In [23]:
list(range(2,20,6))

[2, 8, 14]